@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

@media (max-width: 810px){
    #root{
        width: 100%;
    }
    .app{
        width: 100%;
    }
}
@media (max-width: 420px){
    .app{
        max-height: 100vh;
        min-height: 30vh;
    }
    form{
        width: 95%;
        height: 2rem;
    }
    form input{
        width: 0;
        font-size: 1em;
    }
    form input::placeholder{
        font-size: 1rem;
    }
    form button{
        height: 100%;
    }
    .todo{
        width: 90% !important;
        min-height: 2rem !important;
    }
    .todo-text{
        font-size: 1.4em !important;
    }
}